scripts/n8n-analyze-video-web.json
{"name": "Разбор контента (Сайт) v3", "settings": {"executionOrder": "v1"}, "nodes": [{"parameters": {"httpMethod": "POST", "path": "analyze-video-web", "responseMode": "onReceived", "options": {}}, "id": "6e975984-691c-475c-b23b-3a3f613e1ea8", "name": "Webhook (Сайт)", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [-1056, 288], "webhookId": "analyze-video-web"}, {"parameters": {"rules": {"values": [{"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "sw-ig", "leftValue": "={{ $json.body.url }}", "rightValue": "instagram", "operator": {"type": "string", "operation": "contains"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "Instagram"}, {"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "sw-yt", "leftValue": "={{ $json.body.url }}", "rightValue": "youtube", "operator": {"type": "string", "operation": "contains"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "YouTube"}, {"conditions": {"options": {"caseSensitive": false, "leftValue": "", "typeValidation": "strict", "version": 2}, "conditions": [{"id": "sw-tt", "leftValue": "={{ $json.body.url }}", "rightValue": "tiktok", "operator": {"type": "string", "operation": "contains"}}], "combinator": "and"}, "renameOutput": true, "outputKey": "TikTok"}]}, "options": {}}, "id": "cc690b5f-c221-426f-a6ee-9ad35d032b24", "name": "Определить платформу", "type": "n8n-nodes-base.switch", "typeVersion": 3.2, "position": [-816, 288]}, {"parameters": {"assignments": {"assignments": [{"id": "ig-url-1", "name": "VideoURL", "value": "={{ $('Webhook (Сайт)').item.json.body.url }}", "type": "string"}]}, "options": {}}, "id": "b55ac373-1bb5-4f16-8152-11357a6648c0", "name": "Instagram: подготовить URL", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [-576, 80]}, {"parameters": {"resource": "instagram", "operation": "getInstagramPost", "url": "={{ $json.VideoURL }}"}, "id": "ig-sc-001", "name": "Instagram: ScrapeCreators", "type": "n8n-nodes-scrape-creators.scrapeCreators", "typeVersion": 4.2, "position": [-352, 80], "credentials": {"scrapeCreatorsApi": {"id": "vicnuNkbaphxoEiu", "name": "Scrape Creators"}}}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"}, "conditions": [{"id": "ig-isvideo", "leftValue": "={{ $json.xdt_shortcode_media.is_video }}", "rightValue": true, "operator": {"type": "boolean", "operation": "true", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "ig-isVideo-if-001", "name": "Instagram: видео или нет?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [-128, 80]}, {"parameters": {"url": "={{ $json.xdt_shortcode_media.video_url }}", "options": {"response": {"response": {"responseFormat": "file"}}}}, "id": "00d89ff1-3f45-43de-a2ff-6110b3efb220", "name": "Instagram: скачать видео", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [96, -80]}, {"parameters": {"method": "POST", "url": "https://api.openai.com/v1/audio/transcriptions", "authentication": "predefinedCredentialType", "nodeCredentialType": "openAiApi", "sendBody": true, "contentType": "multipart-form-data", "bodyParameters": {"parameters": [{"name": "model", "value": "whisper-1"}, {"parameterType": "formBinaryData", "name": "file", "inputDataFieldName": "data"}]}, "options": {}}, "id": "64004ac2-61f7-4541-a33f-a7252c7a99ad", "name": "Instagram: Whisper", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [320, -80], "credentials": {"openAiApi": {"id": "ATNSHyf9e0vaF2Oc", "name": "OpenAi account"}}}, {"parameters": {"jsCode": "const media = $input.item.json.xdt_shortcode_media;\nconst caption = media?.edge_media_to_caption?.edges?.[0]?.node?.text || media?.accessibility_caption || '(нет описания)';\nreturn [{ json: { text: caption } }];"}, "id": "ig-caption-code-001", "name": "Instagram: текст поста", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [96, 240]}, {"parameters": {"assignments": {"assignments": [{"id": "igm-1", "name": "transcript", "value": "={{ $json.text }}", "type": "string"}, {"id": "igm-2", "name": "url", "value": "={{ $('Webhook (Сайт)').item.json.body.url }}", "type": "string"}, {"id": "igm-3", "name": "record_id", "value": "={{ $('Webhook (Сайт)').item.json.body.record_id }}", "type": "string"}, {"id": "igm-4", "name": "platform", "value": "Instagram", "type": "string"}, {"id": "igm-5", "name": "content_type", "value": "={{ $('Instagram: ScrapeCreators').item.json.xdt_shortcode_media.is_video ? 'video' : 'image' }}", "type": "string"}]}, "options": {}}, "id": "f3ccb7d7-b9a7-4f94-8d12-a297e6f8a4b3", "name": "Instagram: собрать данные", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [544, 80]}, {"parameters": {"jsCode": "const url = $input.item.json.body.url;\nlet videoId = '';\nconst match = url.match(/(?:v=|youtu\\.be\\/|embed\\/|shorts\\/)([a-zA-Z0-9_-]{11})/);\nif (match) videoId = match[1];\nreturn [{ json: { videoId, url, record_id: $input.item.json.body.record_id } }];"}, "id": "088af988-f5c5-40cf-9cda-de4f696e035f", "name": "YouTube: извлечь ID", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-576, 288]}, {"parameters": {"url": "=https://www.youtube.com/api/timedtext?v={{ $json.videoId }}&lang=ru&fmt=json3", "options": {}}, "id": "a7abd623-9615-4c6a-bc3f-ec0059bc9779", "name": "YouTube: субтитры", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-352, 288]}, {"parameters": {"jsCode": "const raw = $input.item.json;\nlet transcript = '';\nif (raw.events) {\n  transcript = raw.events\n    .filter(e => e.segs)\n    .map(e => e.segs.map(s => s.utf8).join(''))\n    .join(' ')\n    .trim();\n}\nconst prev = $('YouTube: извлечь ID').item.json;\nreturn [{ json: { transcript: transcript || '(субтитры недоступны)', url: prev.url, record_id: prev.record_id, platform: 'YouTube' } }];"}, "id": "53d67d37-fb3a-4760-902f-f05be4b9d0af", "name": "YouTube: разобрать транскрипт", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-144, 288]}, {"parameters": {"assignments": {"assignments": [{"id": "ytm-1", "name": "transcript", "value": "={{ $json.transcript }}", "type": "string"}, {"id": "ytm-2", "name": "url", "value": "={{ $json.url }}", "type": "string"}, {"id": "ytm-3", "name": "record_id", "value": "={{ $json.record_id }}", "type": "string"}, {"id": "ytm-4", "name": "platform", "value": "YouTube", "type": "string"}, {"id": "ytm-5", "name": "content_type", "value": "video", "type": "string"}]}, "options": {}}, "id": "6ba8404b-8079-4e0a-88a4-7dbc27c2ec62", "name": "YouTube: собрать данные", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [96, 288]}, {"parameters": {"url": "=https://www.tikwm.com/api/?url={{ encodeURIComponent($json.body.url) }}", "options": {"response": {"response": {"responseFormat": "json"}}}}, "id": "aede501a-fd32-472d-95c1-23eb779be712", "name": "TikTok: tikwm API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-576, 480]}, {"parameters": {"url": "={{ $json.data.play }}", "options": {"response": {"response": {"responseFormat": "file"}}}}, "id": "97d87af6-3756-4ca6-a568-ab583ffa85cc", "name": "TikTok: скачать видео", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-352, 480]}, {"parameters": {"method": "POST", "url": "https://api.openai.com/v1/audio/transcriptions", "authentication": "predefinedCredentialType", "nodeCredentialType": "openAiApi", "sendBody": true, "contentType": "multipart-form-data", "bodyParameters": {"parameters": [{"name": "model", "value": "whisper-1"}, {"parameterType": "formBinaryData", "name": "file", "inputDataFieldName": "data"}]}, "options": {}}, "id": "8d8227de-54e2-4b6c-b19a-783082e575b2", "name": "TikTok: Whisper", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [-144, 480], "credentials": {"openAiApi": {"id": "ATNSHyf9e0vaF2Oc", "name": "OpenAi account"}}}, {"parameters": {"assignments": {"assignments": [{"id": "ttm-1", "name": "transcript", "value": "={{ $json.text }}", "type": "string"}, {"id": "ttm-2", "name": "url", "value": "={{ $('Webhook (Сайт)').item.json.body.url }}", "type": "string"}, {"id": "ttm-3", "name": "record_id", "value": "={{ $('Webhook (Сайт)').item.json.body.record_id }}", "type": "string"}, {"id": "ttm-4", "name": "platform", "value": "TikTok", "type": "string"}, {"id": "ttm-5", "name": "content_type", "value": "video", "type": "string"}]}, "options": {}}, "id": "4fcb5fed-9021-4da5-a28c-d17ee10993bf", "name": "TikTok: собрать данные", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [96, 480]}, {"parameters": {"promptType": "define", "text": "=Платформа: {{ $json.platform }}\nТип контента: {{ $json.content_type === 'video' ? 'Видео/Reels' : 'Фото/Карусель' }}\nURL: {{ $json.url }}\n\n{{ $json.content_type === 'video' ? 'Транскрипция видео' : 'Текст поста' }}:\n\"\"\"\n{{ $json.transcript }}\n\"\"\"\n\nПроанализируй этот контент конкурента в нише стоматологии.\nВерни ТОЛЬКО валидный JSON без markdown, все поля на русском:\n{\n  \"hook\": \"{{ $json.content_type === 'video' ? 'что цепляет в первые 3-5 секунд видео' : 'что привлекает внимание — визуал или первая строка текста' }}\",\n  \"ai_analysis\": \"подробный разбор 2-3 абзаца: структура, подача, почему работает или нет\",\n  \"generated_script\": \"{{ $json.content_type === 'video' ? '[ВИЗУАЛ]: ...\\\\n\\\\n[ДИКТОР]: ...адаптация для Стоматологии Уали' : '[ВИЗУАЛ]: описание картинки/карусели\\\\n\\\\n[ТЕКСТ]: адаптация для Стоматологии Уали' }}\",\n  \"performance_score\": 75,\n  \"strengths\": [\"сильная сторона 1\", \"сильная сторона 2\", \"сильная сторона 3\"],\n  \"weaknesses\": [\"слабое место 1\", \"слабое место 2\"],\n  \"post_type\": \"{{ $json.content_type === 'video' ? 'reels' : 'carousel' }}\"\n}"}, "id": "430ab109-5ec9-4cfd-8694-db2bd36b0ce1", "name": "AI Разбор контента", "type": "@n8n/n8n-nodes-langchain.chainLlm", "typeVersion": 1.5, "position": [784, 288]}, {"parameters": {"modelName": "models/gemini-2.5-pro", "options": {}}, "id": "7c60f000-7113-49fe-aea0-3ac2c3af4aee", "name": "Google Gemini", "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini", "typeVersion": 1, "position": [784, 512], "credentials": {"googlePalmApi": {"id": "eNaHBi9VebI90094", "name": "yurii gemini"}}}, {"parameters": {"jsCode": "const raw = $input.item.json.text || $input.item.json.response?.text || $input.item.json.output || '';\nlet parsed = {};\ntry {\n  const cleaned = raw.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { hook: '', ai_analysis: raw, generated_script: '', performance_score: 50, strengths: [], weaknesses: [], post_type: 'reels' };\n}\nconst body = $('Webhook (Сайт)').item.json.body;\nconst dataPlatform = $('Instagram: собрать данные').isExecuted\n  ? $('Instagram: собрать данные').item.json\n  : $('YouTube: собрать данные').isExecuted\n    ? $('YouTube: собрать данные').item.json\n    : $('TikTok: собрать данные').item.json;\nreturn [{ json: {\n  action: 'n8n_update_analysis',\n  record_id: body.record_id,\n  transcription: dataPlatform.transcript || '',\n  hook: parsed.hook || '',\n  ai_analysis: parsed.ai_analysis || '',\n  generated_script: parsed.generated_script || '',\n  performance_score: typeof parsed.performance_score === 'number' ? parsed.performance_score : 50,\n  strengths: Array.isArray(parsed.strengths) ? parsed.strengths : [],\n  weaknesses: Array.isArray(parsed.weaknesses) ? parsed.weaknesses : [],\n  post_type: parsed.post_type || 'reels'\n} }];"}, "id": "parse-code-new-001", "name": "Парсить ответ AI", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1024, 288]}, {"parameters": {"method": "POST", "url": "https://iywmjdrghcbsicdwohmb.supabase.co/functions/v1/spy-webhook-proxy", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Content-Type", "value": "application/json"}, {"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5d21qZHJnaGNic2ljZHdvaG1iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4MDk0NzcsImV4cCI6MjA4ODM4NTQ3N30.Km1K3eBIDfSPLWJ42yeKIEQihe3vhKJ0Z-GrCc7AoQI"}]}, "sendBody": true, "specifyBody": "keypair", "bodyParameters": {"parameters": [{"name": "action", "value": "={{ $json.action }}"}, {"name": "record_id", "value": "={{ $json.record_id }}"}, {"name": "transcription", "value": "={{ $json.transcription }}"}, {"name": "hook", "value": "={{ $json.hook }}"}, {"name": "ai_analysis", "value": "={{ $json.ai_analysis }}"}, {"name": "generated_script", "value": "={{ $json.generated_script }}"}, {"name": "performance_score", "value": "={{ $json.performance_score }}"}, {"name": "strengths", "value": "={{ $json.strengths }}"}, {"name": "weaknesses", "value": "={{ $json.weaknesses }}"}, {"name": "post_type", "value": "={{ $json.post_type }}"}]}, "options": {}}, "id": "save-http-new-001", "name": "Сохранить в Supabase", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1248, 288]}], "connections": {"Webhook (Сайт)": {"main": [[{"node": "Определить платформу", "type": "main", "index": 0}]]}, "Определить платформу": {"main": [[{"node": "Instagram: подготовить URL", "type": "main", "index": 0}], [{"node": "YouTube: извлечь ID", "type": "main", "index": 0}], [{"node": "TikTok: tikwm API", "type": "main", "index": 0}]]}, "Instagram: подготовить URL": {"main": [[{"node": "Instagram: ScrapeCreators", "type": "main", "index": 0}]]}, "Instagram: ScrapeCreators": {"main": [[{"node": "Instagram: видео или нет?", "type": "main", "index": 0}]]}, "Instagram: видео или нет?": {"main": [[{"node": "Instagram: скачать видео", "type": "main", "index": 0}], [{"node": "Instagram: текст поста", "type": "main", "index": 0}]]}, "Instagram: скачать видео": {"main": [[{"node": "Instagram: Whisper", "type": "main", "index": 0}]]}, "Instagram: Whisper": {"main": [[{"node": "Instagram: собрать данные", "type": "main", "index": 0}]]}, "Instagram: текст поста": {"main": [[{"node": "Instagram: собрать данные", "type": "main", "index": 0}]]}, "Instagram: собрать данные": {"main": [[{"node": "AI Разбор контента", "type": "main", "index": 0}]]}, "YouTube: извлечь ID": {"main": [[{"node": "YouTube: субтитры", "type": "main", "index": 0}]]}, "YouTube: субтитры": {"main": [[{"node": "YouTube: разобрать транскрипт", "type": "main", "index": 0}]]}, "YouTube: разобрать транскрипт": {"main": [[{"node": "YouTube: собрать данные", "type": "main", "index": 0}]]}, "YouTube: собрать данные": {"main": [[{"node": "AI Разбор контента", "type": "main", "index": 0}]]}, "TikTok: tikwm API": {"main": [[{"node": "TikTok: скачать видео", "type": "main", "index": 0}]]}, "TikTok: скачать видео": {"main": [[{"node": "TikTok: Whisper", "type": "main", "index": 0}]]}, "TikTok: Whisper": {"main": [[{"node": "TikTok: собрать данные", "type": "main", "index": 0}]]}, "TikTok: собрать данные": {"main": [[{"node": "AI Разбор контента", "type": "main", "index": 0}]]}, "AI Разбор контента": {"main": [[{"node": "Парсить ответ AI", "type": "main", "index": 0}]]}, "Google Gemini": {"ai_languageModel": [[{"node": "AI Разбор контента", "type": "ai_languageModel", "index": 0}]]}, "Парсить ответ AI": {"main": [[{"node": "Сохранить в Supabase", "type": "main", "index": 0}]]}}}
